
@{
    ViewBag.Title = "Admin Login Page";
}

<h2>@ViewBag.Title</h2>

<form action="../Admin/LoginAdmin" method="post">
    <input type="email" placeholder="Email: " name="Email" />
    <br />

    <input type="password" placeholder="Password: " name="Password" />
    <br />

    <input type="submit" value="Log In" />
</form>

<p>For grading purposes:</p>
<p>Admin Email: rmlysogorski@gmail.com</p>
<p>Admin Password: P@ssword1</p>